* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 70%;
  margin: 1em auto;
  border-radius: 8px;
  background-color: #e8e8e4;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

.btn-div {
  display: flex;
  justify-content: space-around;
}

.btn-div button {
  color: white;
  cursor: pointer;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.9em;
  width: 30%;
  border: none;
}

.pri {
  background-color: #2a9d8f;
}

.sec {
  background-color: #e63946;
}

#result {
  padding: 1em;
  font-size: 1.2rem;
  text-align: center;
  color: #e76f51;
}
